#wheel {
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: 150000;
}

#canvas{
	position: relative;
	top:0;
	left: 0;

}

.bubblewrapper{

	position: absolute;
	top: 10px;
	left: 430px;

}
.colorbubble {
	position: relative;
}


.popup {
	position: absolute;
	display: none; 
	background-image: url('../images/bubble.png');
	background-repeat: no-repeat;
	width: 250px;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 22px;
	padding-right: 30px;
	

}

.trigger{

}

#iframe{

position: absolute;
top: 0;
left: 0;

}


.bucket{



}
