

body{

	background-color: #fff;

}
.answer{ 

	border-style: dashed;
}

#question{

	border-style: solid;
}

.field{


	width: 350px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	display: block;
	height: 30px;
	margin-top: 10px;
	font: 1em Arial, Helvetica;

}

#pollwrapper{

	margin-top: 200px;
	
}

.polllabel{

	display: block;
	margin-left: 200px;

}

.knap{

	position: absolute;
	top: 620px;
	left: 28.6%;
	z-index: 250;

}
